Django==1.7.1
Fabric==1.10.1
Pillow==2.6.1
Unidecode==0.04.17
argparse==1.2.1
beautifulsoup4==4.3.2
bottle==0.12.7
django-appconf==0.6
django-compressor==1.4
django-libsass==0.2
django-modelcluster==0.4
django-taggit==0.12.2
django-treebeard==2.0
ecdsa==0.11
html5lib==0.999
libsass==0.6.2
paramiko==1.15.2
psycopg2==2.5.4
pycrypto==2.6.1
requests==2.5.0
six==1.8.0
unicodecsv==0.9.4
wagtail==0.8.4
wsgiref==0.1.2
