{% extends "kineblog/base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% include "kineblog/includes/intro.html" with intro=self.intro only %}

    {% if request.GET.tag|length %}
        <h4>Mostrando las entradas etiquetadas con: <span class="label label-success">{{ request.GET.tag|safe }}</span> <a href=" {% pageurl self %} ">Mostrar todas</a></h4>
    {% endif %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {# Uses serve method defined in models.py - allows for paging if required #}
                {# See also standard index for creating a listing with a tag #}
                {% for blog in blogs %}
                    {% include "kineblog/includes/blog_list_item.html" %}
                {% empty %}
                    Sin entradas
                {% endfor %}
    {# Pagination - uses django.core.paginator #}
    {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
    <!-- Pager -->
                <ul class="pager">
                {% if blogs.has_previous %}
                    <li class="previous">
                        <a href="?page={{ blogs.previous_page_number }}
                            {% for key,value in request.GET.items %}
                                {% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}
                                {% endifnotequal %}
                            {% endfor %}">Anterior
                        </a>
                    </li>
                {% endif %}
                    <li class="pages">
                        Página {{ blogs.number }} de {{ blogs.paginator.num_pages }}
                    </li>
                {% if blogs.has_next %}
                    <li class="next">
                        <a href="?page={{ blogs.next_page_number }}
                        {% for key,value in request.GET.items %}
                            {% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}
                            {% endifnotequal %}
                        {% endfor %}">Próximo
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>






    {% include "kineblog/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}