{% load wagtailcore_tags wagtailimages_tags %}

{# Individual blog item in a list - used on blog index and home page #}
<div class="post-preview">
    <a href="{% pageurl blog %}">
        <h2 class="post-title">
            {{ blog.title }}
        </h2>
        {% if blog.search_description or blog.feed_image %}
{#            {% if blog.feed_image %}#}
{#                {% image blog.feed_image width-200 %}#}
{#            {% endif %}#}
            {% if blog.search_description %}
                <h3 class="post-subtitle">
                    {{ blog.search_description }}
                </h3>
            {% endif %}
        {% endif %}
    </a>
    <p class="post-meta">Escrito por <a href="#">{{ blog.owner }}</a> el {{ blog.date|date:"j F Y" }}</p>
</div>
<hr>